/*
font-family: 'Barlow', sans-serif
font-family: 'Fraunces', serif;
*/

body, html, *{
    margin:0;
    padding:0;

    box-sizing: border-box;
}

body{
    background-color: #ffffff;

    font-size:62.5%;
}
/*Header*/

.header-container, .egg-container, .graphic-container, .photography-container{
    width:100%;
    height:70.935960591vh;


    background-image: url("images/mobile/image-header.jpg");
    background-size:cover;
    background-position: center;

    overflow: hidden;
}
/*Positioning icon-hamburguer and logo*/

header{
    /*Icon and logo in a row*/
    display: flex;
    flex-direction: row;

    justify-content: end;
    align-items: center;

    width: 100%;
    height:7.75862069vh;
}

.logo-container{
    width:33.5%;

    margin-right:47%;

    margin-top:4.679802956vh;
}

#logo{
    width:100%;
}
#icon-hamburger{
    width:6.93333333333333%;

    cursor: pointer;

    margin-right:5.75%;
    margin-top:4.679802956vh;
}

/*Menu*/

.table{
    display:none;
}

.open{
    position: absolute;

    left:6%;
    top:10%;

    display:flex;

    flex-direction: column;

    justify-content: center;
    align-items:center ;

    width: 88%;
    height: 40.39408867vh;

    background-color:white;

    margin:auto;
    margin-top:15%;

    animation: popup 1s ease;

    z-index: 21;
}

.close{
    display:none;
}

.open:before{
    position: absolute;

    content:"";

    margin-left:78.9vw;
    margin-top:-315px;

    width: 0;
    height: 0;
    border-top: 9.2vw solid transparent;
    border-right:9.2vw solid white;
}

@keyframes popup{
    0%{
        opacity: 0;
    }50%{
        opacity: 50;
    }100%{
        opacity:100;
    }
}


.table li{
    list-style: none;

    text-align: center;

    margin-top:5.541871921vh;

    width: 100%;
}

.table li a, .footer-links a{
    text-decoration: none;

    color: hsl(232, 10%, 55%);

    font-size:2em;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;

    margin-left:-5%;
}


button{
    width: 41.7613636%;
    height: 8.142857142857143vh;

    font-size:18px;
    font-family: 'Fraunces', serif;
    font-weight: 700;

    cursor:pointer;

    /*Desgin*/

    border-radius:40px;
    border:none;

    background-color:hsl(51, 100%, 49%);
}

.button-li{
    margin-bottom:5.541871921vh;
}
/*Title design*/

.text-arrow{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width:100%;
    height: 24.507389163vh;

    margin-top:14.778325123vh;

    z-index: 20;
}

.text-arrow h1{
    color:#ffffff;

    font-size:12vw;
    font-family: 'Fraunces', serif;

    letter-spacing: 1.4vw;
    text-align: center;
}

.text-arrow  a{
    width: 9.8639456%;
    height: 10.960591133vh;

    margin-top:10%;
}


/*Egg image*/
.egg-container, .cup-image{
    width: 100%;
    height:41.133004926vh;
}

.egg-container{
    background-image: url("images/mobile/image-transform.jpg");
}

/*About and stand-out section*/
.stand-content, .about-content{
    display: flex;
    flex-direction: column;

    width: 80%;
}

.about, .stand-out{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height:57.63546798vh;

    background-color:#ffffff;
}

.title,.graphic-container h1, .photography-content-container h1, #testemunials-title
{

    color:#000000;

    font-size:8vw;
    font-family: 'Fraunces', serif;

    text-align: center;

    margin-top:-10%;

}
.paragraph, .photography-graphic-container-paragraph{

    color:hsl(213, 9%, 39%);

    font-size:4.2vw;

    line-height: 180%;

    text-align: center;

    margin-top:3.81773399vh;
}

#learn-more, #learn-more-stand-out{
    color:#000000;

    text-decoration: none;

    margin-top:3.81773399vh;

    font-family: 'Fraunces', serif;
    font-size:3.5vw;

    letter-spacing: 0.4vw;

    margin-inline: auto;

}

#learn-more:after, #learn-more-stand-out:after{
    position: absolute;

    content: "";

    width: 29%;
    height: 0.9vh;

    background-color: hsl(51, 100%, 49%);

    margin-left:-28.9%;
    margin-top:3.1%;

    opacity: 30%;

    border-radius: 20px;
}
#learn-more-stand-out:after{
    background-color: hsl(7, 99%, 70%);
}

/*cup-image*/

.cup-image{
    background-image: url("images/mobile/image-stand-out.jpg");
    background-position: center;
    background-size: cover;
}

/*Graphic Design section*/
.graphic-container, .photography-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;

    background-image: url("images/mobile/image-graphic-design.jpg");
    background-position: initial;
}
.graphic-content-container{
    margin-bottom:10%;
    width: 88%;

    margin-left:auto ;
    margin-right: auto;
}


.graphic-content-container h1, .graphic-content-container p{
    color:hsl(167, 40%, 24%);
}

/*.photography-container*/

.photography-container{
    background-image: url("images/mobile/image-photography.jpg");
}

.photography-content-container{
    margin-top:10%;
    margin-bottom: 10%;
}
/*Photography h1 & p*/
.photography-content-container h1, .photography-content-container p{
    color:hsl(198, 62%, 26%);
}

/*Testemunials section*/

#testemunials-title{
    font-size:4vw;

    letter-spacing: 1.2vw;

    color:#AAACAC;
}

.testemunials, .testemunials-container{
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 165.517241379vh;
}

.testemunials-container{
    width:79.5%;
    height: 37.192118227vh;

    margin-top: 15%;
}

.testemunials-container img{
    width:24.5283019%;

    border-radius: 100%;
}

.testemunials-container p{
    font-size: 3.5vw;

    margin-bottom:10%;

    text-align: center;
}

.testemunials-container h2{
    color:#000000;

    font-size:4vw;
    font-family: 'Fraunces', serif;
}

.testemunials-container h3{
    font-size:2.8vw;
    font-weight: 500;

    margin-top:2%;
}

/*Galerry*/

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows:repeat(2, 50%);

    width:100%;
    height:106.666666667vw;
}

.gallery img{
    width: 100%;
    height: 100%;
}

/*footer*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 99.2vw;

    background-color:#90D4C5;

    margin-top:-1.2%;
}
#footer-logo{
    filter: invert(46%) sepia(4%) saturate(5339%) hue-rotate(116deg) brightness(82%) contrast(91%);

    width:46.75%;
}

.footer-links-container{
    list-style: none;

    width:100%;

    margin-top: 6.896551724vh;
}
.footer-links{
    display: inline;
    margin-left:15.5%;

    width:100%;
}
.footer-links a{
   text-decoration: none;

   color:#589F8F;
}

.social{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width:44.75%;

    margin-left:-12%;
    margin-top:12.315270936vh;
}

.social a{
    margin-left:16.3841808%;
}

/*Break Points*/
@media (min-width:500px){
    /*Header*/
    #icon-hamburger{
        display: none;
    }
    .header-container{
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 100%;
        height: 55.441176471vw;

        background-image: url("images/desktop/image-header.jpg");
        background-size:cover;
        background-position:inherit;
        background-repeat: no-repeat;
    }
    .header{
        /*adding flexbox to positining*/
        display: flex;
        align-items: center;
        justify-content:flex-start ;
        flex-direction: row;

        width:95%;
        height: 6.617647059vw;
    }
    .logo-container{
        width: 11.764705882vw;
    }
    #logo{
        width:100%;
    }

    .table{
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: row;

        width: 40.5%;
        height:4.044117647vw;

        margin-left: 0;

        /*margin-top:-3.970588235vw;*/
    }
    .table li a{
        font-size:1.2vw;

        color:#ffffff;
    }
    .button-li{
        display: flex;
        align-items: end;

        margin-bottom:0;
    }

    button{
        position: relative;

        width:120%;
        height: 4.044117647vw;

        font-size: 1vw;

        color:#000000;
        background-color: #ffffff;

        transition: all 0.5s ease;

        margin-bottom: 0;
        margin-top:0;

    }

    button:hover{
        background-color: #6ECDFF;
        color:#ffffff;
    }
    /*Hero text*/

    .text-arrow{
        width:51.3235294%;
        height: 35.277777778vh;

        margin-top: 5.441176471vw;
    }

    .text-arrow h1{
        color:#ffffff;

        font-size:3vw;
        font-family: 'Fraunces', serif;

        letter-spacing: 0.5vw;

        white-space: nowrap;
    }

    .text-arrow  a{
        width: 2.8639456%;
        height: 10.960591133vh;

        margin-top:10%;
    }
    .text-arrow  a img{
        width: 2vw;
        height: 8.088235294vw;

        margin-top:10%;
    }

    /*About + images gallery*/
    .about-images-container{
        position: relative;

        display:grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 41.81372549vw);

        width: 100%;
        height:125.294117647vw;
    }
    /*Positioning container with css grid*/
    .egg-container{
        grid-column: 2/3;
    }

    .cup-image{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .about{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    /*New values*/
    .egg-container, .cup-image{
        width:100%;
        height:41.838235294vw;
    }
    .about, .stand-out{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
    }

    .about-content, .stand-content{
        display: flex;
        width: 60%;
        margin:auto;
        align-items: flex-start;
    }
    /*fonts*/
    .title{
        font-size:3.2vw;

        text-align: start;
    }
    #learn-more, #learn-more-stand-out{
        font-size: 1vw;

        width: 100%;

        white-space: nowrap;
    }
    .paragraph{
        font-size:1.6vw;
        text-align: start;

        line-height: 2vw;
    }
    #learn-more, #learn-more-stand-out{
        font-size: 1vw;

        margin-inline: 0;
    }
    #learn-more:after, #learn-more-stand-out:after{
        width: 11%;
        height: 0.9vh;

        margin-left: -11vw;
        margin-top:1.2vw;
    }

    /*.photography-graphic-containers*/
    .photography-container{
        background-image: url('images/desktop/image-photography.jpg');
        background-position: center;

        height: 100%;
    }
    .graphic-container{
        background-image: url('images/desktop/image-graphic-design.jpg');
        background-position: center;

        height: 100%;
    }

    .photography-content-container h1, .graphic-content-container h1{
        font-size: 2vw;
    }
    .photography-content-container, .graphic-content-container{
        width: 50%;
    }
    .photography-graphic-container-paragraph{
        font-size:1.8vw;

        text-align: center;
    }

    /*testemunials*/
    .testemunials{
        position: relative;

        flex-direction: row;
        flex-wrap: wrap;

        height: 53.823529412vw;
        min-height:100%;

        overflow: hidden;
    }

    #testemunials-title{
        position: absolute;

        font-size:1vw;
        font-size:1.5vw;

        white-space: nowrap;

        align-self: center;

        margin-bottom: 20vw;

        letter-spacing: 0.6vw;
    }
    .testemunials-container{
        width: 26.9411765%;
        height: 24.117647059vw;

        margin-inline:3vw;
        margin-bottom:10%;
    }

    .testemunials-container h2{
        font-size:1.5vw ;

        text-align: center;
    }
    .testemunials-container h3{
        font-size:0.8vw ;

        text-align: center;

        white-space: wrap;
    }
    .testemunials-container > p{
        font-size:2vw ;

        text-align: center;

        line-height: 1.4vw;

        margin-top:4vw;
    }

    /*galerry*/
    .gallery{
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 31.176470588vw;

        overflow: hidden;
    }
    .gallery img{
        width: 25%;
        height: 100%;
    }

    /*Footer*/
    footer{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 31.176470588vw;
        width: 100%;
    }
    /*Footer*/
    .gallery img{
        width:100%
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 24.191176471vw;
    }
    #footer-logo{
        width: 11.911764706vw;
        margin-bottom:-2%;
    }
    .footer-links-container{
        width: 20.4411765%;
    }
    .footer-links-container a{
        font-size:1.2vw;
    }
    .social{
        width: 11.8382353%;

        margin-left:-3vw;
    }
    .social img{
        width: 1.5vw;
    }
}
